In [15]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

import matplotlib.pyplot as plt
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.tokenize import word_tokenize

In [2]:
% matplotlib inline

In [3]:
def load_data(database_filepath):
    # load data from database
    engine_str = 'sqlite:///' + database_filepath
    
    print(engine_str)
    engine = create_engine(engine_str)
    df = pd.read_sql_table("messages", engine)
    
    return df 
    
#    print(df.head(5))
    
#    
    
    
 #   print(Y.head(),Y.columns)
 #   cols = Y.columns.tolist()
    #X,Y,cols

In [4]:
df = load_data('data/DisasterResponse.db')

sqlite:///data/DisasterResponse.db

In [5]:
display(df.head())

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
X = df['message']
Y = df.drop(['message','original','genre','id'],axis=1)

In [36]:
Y.columns.tolist()

['related',
 'request',
 'offer',
 'aid_related',
 'medical_help',
 'medical_products',
 'search_and_rescue',
 'security',
 'military',
 'child_alone',
 'water',
 'food',
 'shelter',
 'clothing',
 'money',
 'missing_people',
 'refugees',
 'death',
 'other_aid',
 'infrastructure_related',
 'transport',
 'buildings',
 'electricity',
 'tools',
 'hospitals',
 'shops',
 'aid_centers',
 'other_infrastructure',
 'weather_related',
 'floods',
 'storm',
 'fire',
 'earthquake',
 'cold',
 'other_weather',
 'direct_report']

In [46]:
for col in Y.columns.tolist():
    print(col.capitalize())
    text = ','.join(X[Y[col]==1].tolist())

    stop_words = stopwords.words("english")
    lemmatizer = WordNetLemmatizer()
    #text = re.sub(r"[^a-zA-Z0-9]", " ", text.lower())
    #tokens = word_tokenize(text)
    #tokens = [lemmatizer.lemmatize(word) for word in tokens if word not in stop_words]
    #tokens = list(set(tokens))
    #clean_text = ','.join(tokens).replace(',',' ')
    #if len(clean_text) >10:
        #wordcloud = WordCloud(max_font_size=50, max_words=100, background_color="white").generate(clean_text)

        #plt.figure(figsize=(8,10))
        #plt.imshow(wordcloud, interpolation="bilinear")
        #plt.axis("off")
        #plt.savefig(col.capitalize() +'.jpg', bbox_inches='tight')
        #plt.show()

Related
Request
Offer
Aid_related
Medical_help
Medical_products
Search_and_rescue
Security
Military
Child_alone
Water
Food
Shelter
Clothing
Money
Missing_people
Refugees
Death
Other_aid
Infrastructure_related
Transport
Buildings
Electricity
Tools
Hospitals
Shops
Aid_centers
Other_infrastructure
Weather_related
Floods
Storm
Fire
Earthquake
Cold
Other_weather
Direct_report